.section:not(:global(.fp-auto-height)) .section-wrapper,
.section:not(:global(.fp-auto-height)) :global(.fp-overflow) {
  min-height: 100vh;
}

.section :global(.fp-overflow) {
  background-color: #35fb58;
  box-shadow: 12vw 0 5vw -6vw #00bd64 inset, -12vw 0 5vw -6vw #00bd64 inset;
  overflow: hidden;
}
.section.section-about :global(.fp-overflow) {
  box-shadow: 12vw 0 5vw -6vw #00bd64 inset, -12vw 0 5vw -6vw #00bd64 inset,
    0 12vw 5vw -5vw #00bd64 inset;
}
.section.section-contact :global(.fp-overflow) {
  box-shadow: 12vw 0 5vw -6vw #00bd64 inset, -12vw 0 5vw -6vw #00bd64 inset,
    0 -10vw 5vw -5vw #00bd64 inset;
}
.section.section-home :global(.fp-overflow) {
  background-color: transparent;
  box-shadow: none;
}
.section.section-footer :global(.fp-overflow) {
  background-color: #00bd64;
  box-shadow: none;
  padding: 1.56vw;
}
.section-footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.26vw;
  padding: 0;
}
.section-footer ul li {
  margin: 0 0.26vw;
}

.section .section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
}