.section {
  box-shadow: 12vw 0 5vw -6vw #00bd64 inset, -12vw 0 5vw -6vw #00bd64 inset;
}
.section.section-about,
.section.section-services,
.section.section-work {
  padding-bottom: 25vw;
}

.section.section-contact {
  padding-bottom: 10vw;
}

.section.section-about {
  box-shadow: 12vw 0 5vw -6vw #00bd64 inset, -12vw 0 5vw -6vw #00bd64 inset,
    0 12vw 5vw -5vw #00bd64 inset;
  padding-top: 25vw;
}
.section.section-home {
  box-shadow: none;
}
.section-home:global(.fp-is-overflow) > :global(.fp-overflow) {
  overflow-y: hidden;
}
.section.section-footer {
  box-shadow: 12vw 0 5vw -6vw #00bd64 inset, -12vw 0 5vw -6vw #00bd64 inset,
    0 -10vw 5vw -5vw #00bd64 inset;
  padding: 3vw 2vw 6vw;
}
.section-footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 3vw;
  padding: 0;
}
.section-footer ul li {
  margin: 0 0.26vw;
}

.section-footer :global(.fp-overflow) {
  overflow: hidden !important;
}

.section .section-wrapper :global(.container),
.section .section-wrapper nav,
.section :global(.foot-wrapper) {
  opacity: 0;
  transition: all 500ms ease-in;
}

.section .section-wrapper:global(.loaded) :global(.container),
.section .section-wrapper:global(.loaded) nav,
.section :global(.foot-wrapper.loaded) {
  opacity: 1;
}

@media (max-aspect-ratio: 5/5.5) {
  .section.section-home:global(.fp-auto-height):global(.fp-section) {
    height: 56vw !important;
  }
}

@media (max-aspect-ratio: 5/7) {
  .section-footer ul li img {
    width: 45px;
    height: auto;
  }
}

@media (max-aspect-ratio: 5/9) {
  .section-footer ul li {
    margin: 0 1vw;
  }
  .section-footer ul li img {
    width: 14vw;
  }
}
