* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

html,
body {
  line-height: 1.15;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.flx {
  display: flex;
  flex-wrap: wrap;
}
.flx.column {
  flex-direction: column;
}
.flx.spaced {
  justify-content: space-between;
}
.flx.center {
  justify-content: center;
  align-items: center;
}
.flx .flx-half {
  width: calc(50% - 36px);
}

.highlight {
  color: #016767;
}
.large {
  font-size: 22px;
}
.extra-large {
  font-size: 30px;
}
.small {
  font-size: 14px;
}
.uppercase {
  text-transform: uppercase;
}
.text-hide {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  width: 100%;
  max-width: 1033px;
  padding: 0 20px;
}
.container.wide {
  max-width: 1475px;
}

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}
.menu .menu-item {
  display: block;
  height: 45px;
  width: 135px;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.menu .menu-item.menu-item-about {
  background-image: url("/menu/menu-about.png");
}
.menu .menu-item.menu-item-services {
  background-image: url("/menu/menu-services.png");
}
.menu .menu-item.menu-item-work {
  background-image: url("/menu/menu-work.png");
}
.menu .menu-item.menu-item-contact {
  background-image: url("/menu/menu-contact.png");
}

.reel-wrapper {
  z-index: -1;
  inset: 0;
}
.reel-wrapper .reel {
  position: relative;
  display: block !important;
  width: 100%;
  top: auto;
  right: auto;
  object-fit: cover;
  object-position: center;
}

.section:not(.fp-auto-height) .fp-overflow,
.section:not(.fp-auto-height) .section-wrapper {
  height: 100vh;
}

.section .fp-overflow {
    background-color: #35FB58;
    box-shadow: 
      24vw 0 5vw -12vw #00BD64 inset, /* left to right */
      -24vw 0 5vw -12vw #00BD64 inset; /* right to left */
}
.section.section-about .fp-overflow {
  box-shadow: 
    24vw 0 5vw -12vw #00BD64 inset, /* left to right */
    -24vw 0 5vw -12vw #00BD64 inset, /* right to left */
    0 12vw 5vw -5vw #00BD64 inset; /* top to bottom */
}
.section.section-contact .fp-overflow {
  box-shadow: 
    24vw 0 5vw -12vw #00BD64 inset, /* left to right */
    -24vw 0 5vw -12vw #00BD64 inset, /* right to left */
    0 -12vw 5vw -5vw #00BD64 inset; /* top to bottom */
}
.section.section-home .fp-overflow {
  background-color: transparent;
  box-shadow: none;
}
.section.section-footer .fp-overflow {
  background-color: #00BD64;
  box-shadow: none;
}

.section .section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.jelly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgb(48, 244, 98);
  background-color: #35fb58;
}

.drop {
  display: block;
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  margin: 18px;
}

.drop .drop-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(6, 57, 49, 0.8);
  color: #fff;
  text-decoration: none;
  padding: 30px;
}
.drop:hover .drop-content {
  opacity: 1;
}
.drop-image img {
  display: block;
  width: 100%;
  height: auto;
}
.drop-title h3 {
  font-size: 2.55em;
  letter-spacing: 3px;
  font-weight: lighter;
}


.blob {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding: 30px;
}
.blob.blob-pres-bean {
  width: 272px;
  height: 160px;
  background-image: url(/about/about-gene-bean.png);
  padding: 105px 30px 30px;
}
.blob.blob-about {
  background-image: url(/about/about1.png);
  width: 468px;
  height: 340px;
  padding: 175px 30px 30px;
}
.blob.blob-about-2 {
  background-image: url(/about/about2.png);
  width: 494px;
  height: 264px;
  margin: 20px 0 0 75px;
}
.blob.blob-work {
  background-image: url(/work/work.png);
  width: 386px;
  height: 245px;
  padding: 120px 30px 30px;
}
.blob.blob-service {
  background-image: url(/services/services.png);
  width: 386px;
  height: 227px;
  padding: 90px 30px 30px;
}
.blob.blob-animation-services {
  background-image: url(/services/services-animation.png);
  width: 280px;
  height: 240px;
  padding: 170px 30px 30px;
}
.blob.blob-design-services {
  background-image: url(/services/services-design.png);
  width: 134px;
  height: 140px;
  padding: 103px 30px 12px;
}
.blob.blob-editing-services {
  background-image: url(/services/services-editing.png);
  width: 134px;
  height: 99px;
  padding: 60px 30px 10px;
}
.blob.blob-merch-services {
  background-image: url(/services/services-merch.png);
  width: 258px;
  height: 255px;
  padding: 190px 30px 30px;
}
.blob.blob-music-services {
  background-image: url(/services/services-music.png);
  width: 130px;
  height: 115px;
  padding: 75px 30px 10px;
}
.blob.blob-post-services {
  background-image: url(/services/services-post-production.png);
  width: 148px;
  height: 128px;
  padding: 80px 30px 10px;
  line-height: 0.85;
}
.blob.blob-production-services {
  background-image: url(/services/services-production.png);
  width: 294px;
  height: 242px;
  padding: 170px 30px 30px;
}
.blob.blob-sound-services {
  background-image: url(/services/services-sound.png);
  width: 148px;
  height: 114px;
  padding: 73px 30px 10px;
}
.blob.blob-storyboards-services {
  background-image: url(/services/services-storyboards.png);
  width: 154px;
  height: 133px;
  padding: 95px 30px 10px;
}
.blob.blob-writing-services {
  background-image: url(/services/services-writing.png);
  width: 254px;
  height: 247px;
  padding: 175px 30px 30px;
}
.blob.services {
  margin: 8px;
}
.blob.services.blob-editing-services {
  margin: 8px 8px 8px 40px;
}
.blob.services.blob-sound-services {
  margin: 8px 8px 8px 50px;
}

.contact-title {
  background-image: url(/contact/contact-us.png);
  width: 375px;
  height: 108px;
  background-repeat: no-repeat;
  margin-bottom: 45px;
}
.contact-form { width: 100%; }
.contact-form-input {
  position: relative;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  display: block;
  background-color: white;
  max-width: 830px;
  width: 100%;
  border: solid 2px #FFF;
  margin-bottom: 45px;
  border-radius: 60px;
  padding: 30px;
  font-size: 18px;
  transition: all 300ms ease;
  outline: solid 0 #fff;
}
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:focus-within,
.contact-form textarea:focus-within,
.contact-form input:focus-visible,
.contact-form textarea:focus-visible {
  border: solid 2px #35FB58;
  outline: solid 2px white;
}

.contact-form input {
  height: 85px;
}
.contact-form textarea {
  height: 200px;
}
.contact-form .contact-form-button {
  background-color: transparent;
  background-image: url(/contact/send.png);
  border: 0;
  width: 292px;
  height: 118px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.label-name, 
.label-email, 
.label-message {
  display: block;
  position: absolute;
  left: 30px;
}
.label-name {
  width: 147px;
  height: 82px;
  background-image: url(/contact/name.png);
  top: -41px;
}
.label-email {
  width: 172px;
  height: 66px;
  background-image: url(/contact/email.png);
  top: -33px;
}
.label-message {
  width: 228px;
  height: 63px;
  background-image: url(/contact/message.png);
  top: -31px;
}



@media (max-width: 1205px) {
  .flx.flx-m-row {
    flex-direction: row;
  }
  .container.wide {
    max-width: 875px;
  }
  .m-100 {
    width: 100%;
  }
  .m-or0 { order: 0; }
  .m-or1 { order: 1; }
  .m-or2 { order: 2; }
  .m-or3 { order: 3; }

  .menu .title img {
    width: 135px;
    height: 135px;
  }
  .menu .menu-item {
    height: 35px;
    width: 105px;
  }

  .blob.blob-merch-services {
    width: 125px;
    height: 124px;
    padding: 87px 30px 30px;
  }
  .blob.blob-merch-services .extra-large { font-size: 14px; }

  .drop-title h3 {
    font-size: 2em;
  }
}

@media (max-width: 1000px) {
  .drop-title h3 {
    font-size: 1.15em;
  }
  .drop-body.small {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .flx .flx-half {
    width: calc(50% - 24px);
  }
  .container.wide {
    max-width: 600px;
  }

  .menu .title img {
    width: 100px;
    height: 100px;
  }
  .menu .menu-item {
    width: 75px;
    height: 25px;
  }

  .drop { margin: 12px; }
  .drop-title h3 {
    font-size: 1em;
  }
  .drop-body.small {
    font-size: 10px;
    line-height: 1.25;
  }

  .blob.blob-animation-services {
    width: 200px;
    height: 171px;
    padding: 115px 30px 20px;
  }
  .blob.blob-writing-services {
    width: 220px;
    height: 214px;
    padding: 150px 30px 20px;
  }
  .blob.blob-production-services {
    width: 220px;
    height: 181px;
    padding: 125px 30px 20px;
  }
  .blob.blob-design-services {
    width: 100px;
    height: 104px;
    padding: 73px 30px 20px;
  }
  .blob.blob-storyboards-services {
    width: 110px;
    height: 95px;
    padding: 62px 6px 6px;
  }
  .blob.blob-music-services {
    width: 100px;
    height: 88px;
    padding: 55px 10px 6px;
  }
  .blob.blob-sound-services {
    width: 115px;
    height: 88px;
    padding: 52px 6px 6px;
  }
  .blob.blob-merch-services {
    width: 100px;
    height: 99px;
    padding: 68px 6px 6px;
  }

  .blob.services {
    margin: 4px;
  }
  .blob.services.blob-editing-services,
  .blob.services.blob-sound-services {
    margin: 4px 4px 4px 20px;
  }
}