* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.15;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  transition: 300ms;
}

.flx {
  display: flex;
  flex-wrap: wrap;
}
.flx.column {
  flex-direction: column;
}
.flx.spaced {
  justify-content: space-between;
}
.flx.center {
  justify-content: center;
  align-items: center;
}
.flx.align-bottom {
  align-items: flex-end;
  height: 100%;
}
.flx.remove-marg {
  margin: 0 -2.5%;
}
.flx .flx-half {
  width: 45%;
  margin: 2.5%;
}

.highlight {
  color: #016767;
}
.large {
  font-size: 22px;
}
.extra-large {
  font-size: 30px;
}
.small {
  font-size: 14px;
}
.uppercase {
  text-transform: uppercase;
}
.text-hide {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  width: 100%;
  max-width: 1033px;
  padding: 0 20px;
}
.container.service-container {
  max-width: 1475px;
}

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}
.menu .flx {
  flex-wrap: nowrap;
}
.menu .menu-item {
  display: block;
  height: 45px;
  width: 135px;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.menu .menu-item.menu-item-about {
  background-image: url("/menu/menu-about.png");
}
.menu .menu-item.menu-item-services {
  background-image: url("/menu/menu-services.png");
}
.menu .menu-item.menu-item-work {
  background-image: url("/menu/menu-work.png");
}
.menu .menu-item.menu-item-contact {
  background-image: url("/menu/menu-contact.png");
}

.reel-wrapper {
  z-index: -1;
  inset: 0;
}
.reel-wrapper .reel {
  position: relative;
  display: block !important;
  width: 100%;
  top: auto;
  right: auto;
  object-fit: cover;
  object-position: center;
}

.section:not(.fp-auto-height) .fp-overflow,
.section:not(.fp-auto-height) .section-wrapper {
  height: 100vh;
}

.section .fp-overflow {
  background-color: #35fb58;
  box-shadow: 24vw 0 5vw -12vw #00bd64 inset, -24vw 0 5vw -12vw #00bd64 inset;
}
.section.section-about .fp-overflow {
  box-shadow: 24vw 0 5vw -12vw #00bd64 inset, -24vw 0 5vw -12vw #00bd64 inset,
    0 12vw 5vw -5vw #00bd64 inset;
}
.section.section-contact .fp-overflow {
  box-shadow: 24vw 0 5vw -12vw #00bd64 inset, -24vw 0 5vw -12vw #00bd64 inset,
    0 -12vw 5vw -5vw #00bd64 inset;
}
.section.section-home .fp-overflow {
  background-color: transparent;
  box-shadow: none;
}
.section.section-footer .fp-overflow {
  background-color: #00bd64;
  box-shadow: none;
}

.section .section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.jelly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgb(48, 244, 98);
  background-color: #35fb58;
}

.bean {
  width: 300px;
  height: 353px;
}

.drop {
  display: block;
  position: relative;
  border-radius: 60px;
  overflow: hidden;
}

.drop .drop-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(6, 57, 49, 0.8);
  color: #fff;
  text-decoration: none;
  padding: 30px;
}
.drop:hover .drop-content {
  opacity: 1;
}
.drop-image img {
  display: block;
  width: 100%;
  height: auto;
}
.drop-title h3 {
  font-size: 2.55em;
  letter-spacing: 3px;
  font-weight: lighter;
}

.blob {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding: 30px;
}
.blob.blob-pres-bean {
  width: 272px;
  height: 160px;
  background-image: url(/about/about-gene-bean.png);
  padding: 105px 30px 30px;
}
.blob.blob-about {
  background-image: url(/about/about1.png);
  width: 468px;
  height: 340px;
  padding: 175px 30px 30px;
}
.blob.blob-about-2 {
  background-image: url(/about/about2.png);
  width: 494px;
  height: 264px;
  margin: 20px 0 0 75px;
}
.blob.blob-work {
  background-image: url(/work/work.png);
  width: 386px;
  height: 245px;
  padding: 120px 30px 30px;
}
.blob.blob-service {
  background-image: url(/services/services.png);
  width: 386px;
  height: 227px;
  padding: 87px 30px 30px;
}
.blob.blob-animation-services {
  background-image: url(/services/services-animation.png);
  width: 280px;
  height: 240px;
  padding: 170px 30px 30px;
}
.blob.blob-design-services {
  background-image: url(/services/services-design.png);
  width: 134px;
  height: 140px;
  padding: 103px 30px 12px;
}
.blob.blob-editing-services {
  background-image: url(/services/services-editing.png);
  width: 134px;
  height: 99px;
  padding: 60px 30px 10px;
}
.blob.blob-merch-services {
  background-image: url(/services/services-merch.png);
  width: 258px;
  height: 255px;
  padding: 190px 30px 30px;
}
.blob.blob-music-services {
  background-image: url(/services/services-music.png);
  width: 130px;
  height: 115px;
  padding: 75px 30px 10px;
}
.blob.blob-post-services {
  background-image: url(/services/services-post-production.png);
  width: 148px;
  height: 128px;
  padding: 80px 30px 10px;
  line-height: 0.85;
}
.blob.blob-production-services {
  background-image: url(/services/services-production.png);
  width: 294px;
  height: 242px;
  padding: 170px 30px 30px;
}
.blob.blob-sound-services {
  background-image: url(/services/services-sound.png);
  width: 148px;
  height: 114px;
  padding: 73px 30px 10px;
}
.blob.blob-storyboards-services {
  background-image: url(/services/services-storyboards.png);
  width: 154px;
  height: 133px;
  padding: 95px 30px 10px;
}
.blob.blob-writing-services {
  background-image: url(/services/services-writing.png);
  width: 254px;
  height: 247px;
  padding: 175px 30px 30px;
}
.blob.services {
  margin: 8px;
}
.blob.services.blob-editing-services {
  margin: 8px 8px 8px 40px;
}
.blob.services.blob-sound-services {
  margin: 8px 8px 8px 50px;
}

.contact-title {
  background-image: url(/contact/contact-us.png);
  width: 375px;
  height: 108px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 45px;
}
.contact-form {
  width: 100%;
}
.contact-form.disabled {
  opacity: 0.75;
}
.contact-form-input {
  position: relative;
  width: 100%;
  max-width: 830px;
}
.contact-form input,
.contact-form textarea {
  display: block;
  background-color: white;
  width: 100%;
  border: solid 2px #fff;
  margin-bottom: 45px;
  border-radius: 60px;
  padding: 30px;
  font-size: 18px;
  transition: all 300ms ease;
  outline: solid 0 #fff;
}
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:focus-within,
.contact-form textarea:focus-within,
.contact-form input:focus-visible,
.contact-form textarea:focus-visible {
  border: solid 2px #35fb58;
  outline: solid 2px white;
}

.contact-form input {
  height: 85px;
}
.contact-form textarea {
  height: 200px;
  resize: none;
}
.contact-form .contact-form-button {
  background-color: transparent;
  width: 210px;
  height: 85px;
  background-size: contain;
  background-image: url(/contact/send.png);
  border: 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
.label-name,
.label-email,
.label-message {
  display: block;
  position: absolute;
  left: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.label-name {
  width: 117px;
  height: 65px;
  background-image: url(/contact/name.png);
  top: -32px;
}
.label-email {
  width: 136px;
  height: 52px;
  background-image: url(/contact/email.png);
  top: -26px;
}
.label-message {
  width: 184px;
  height: 50px;
  background-image: url(/contact/message.png);
  top: -25px;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.bubble {
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url(/backgrounds/bubble.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.above {
  position: relative;
  z-index: 1;
}

@media (max-width: 1400px) {
  .container.service-container {
    max-width: 755px;
  }
  .med-100 {
    width: 100%;
  }
  .m-or0 {
    order: 0;
  }
  .m-or1 {
    order: 1;
  }
  .m-or2 {
    order: 2;
  }
  .m-or3 {
    order: 3;
  }

  .menu .title img {
    width: 135px;
    height: 135px;
  }
  .menu .menu-item {
    height: 35px;
    width: 105px;
  }

  .bean {
    width: 200px;
    height: 235px;
  }

  .blob {
    padding: 20px;
  }
  .blob.blob-pres-bean {
    width: 180px;
    height: 105px;
    padding: 70px 10px 10px;
  }
  .blob.blob-about {
    width: 368px;
    height: 267px;
    padding: 130px 10px 10px;
  }
  .blob.blob-about-2 {
    width: 372px;
    height: 199px;
    margin: 5px 0 0;
  }
  .blob.blob-service {
    width: 300px;
    height: 176px;
    padding: 68px 20px 20px;
  }

  .blob.blob-animation-services {
    width: 220px;
    height: 188px;
    padding: 130px 20px 20px;
  }
  .blob.blob-writing-services {
    width: 210px;
    height: 204px;
    padding: 143px 20px 20px;
  }
  .blob.blob-production-services {
    width: 230px;
    height: 189px;
    padding: 133px 20px 20px;
  }
  .blob.blob-design-services {
    width: 120px;
    height: 125px;
    padding: 93px 20px 10px;
  }
  .blob.blob-storyboards-services {
    width: 130px;
    height: 112px;
    padding: 78px 20px 10px;
  }
  .blob.blob-music-services {
    width: 115px;
    height: 102px;
    padding: 68px 20px 10px;
  }
  .blob.blob-sound-services {
    width: 125px;
    height: 96px;
    padding: 60px 20px 10px;
  }
  .blob.blob-editing-services {
    width: 118px;
    height: 87px;
    padding: 53px 20px 10px;
  }
  .blob.blob-post-services {
    width: 125px;
    height: 108px;
    padding: 70px 20px 10px;
  }
  .blob.blob-merch-services {
    width: 125px;
    height: 124px;
    padding: 90px 30px 10px;
  }
  .blob.blob-merch-services .extra-large {
    font-size: 14px;
  }

  .blob.blob-work {
    width: 300px;
    height: 190px;
    padding: 92px 20px 20px;
  }

  .drop-title h3 {
    font-size: 2em;
  }
}

@media (max-width: 1000px), (max-width: 1400px) and (max-height: 800px) {
  html,
  body {
    font-size: 14px;
  }
  .large {
    font-size: 18px;
  }
  .extra-large {
    font-size: 24px;
  }
  .container {
    max-width: 800px;
  }
  .container.service-container {
    max-width: 560px;
  }
  .blob.blob-animation-services {
    width: 150px;
    height: 128px;
    padding: 86px 10px 10px;
  }
  .blob.blob-writing-services {
    width: 165px;
    height: 160px;
    padding: 112px 10px 10px;
  }
  .blob.blob-production-services {
    width: 165px;
    height: 136px;
    padding: 92px 10px 10px;
  }
  .blob.blob-design-services {
    width: 75px;
    height: 78px;
    padding: 55px 10px 10px;
  }
  .blob.blob-storyboards-services {
    width: 82px;
    height: 71px;
    padding: 47px 6px 6px;
  }
  .blob.blob-music-services {
    width: 75px;
    height: 66px;
    padding: 55px 10px 6px;
  }
  .blob.blob-sound-services {
    width: 86px;
    height: 66px;
    padding: 38px 1px 6px;
  }
  .blob.blob-merch-services {
    width: 75px;
    height: 74px;
    padding: 52px 6px 6px;
  }
  .blob.blob-editing-services {
    width: 76px;
    height: 56px;
    padding: 30px 6px 6px;
  }
  .blob.blob-post-services {
    width: 86px;
    height: 74px;
    padding: 50px 6px 6px;
  }

  .blob.services {
    margin: 4px;
  }

  .drop {
    border-radius: 30px;
  }
  .drop .drop-content {
    padding: 20px;
  }
  .drop-title h3 {
    font-size: 1.15em;
  }
  .drop-body.small {
    font-size: 12px;
  }
  .contact-title {
    width: 280px;
    height: 80px;
    margin-bottom: 20px;
  }
  .contact-form-input {
    max-width: 320px;
  }
  .contact-form input {
    height: 55px;
  }
  .contact-form textarea {
    height: 150px;
  }
  .contact-form input,
  .contact-form textarea {
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 30px;
  }
  .label-name,
  .label-email,
  .label-message {
    left: 20px;
  }
  .label-name {
    width: 70px;
    height: 39px;
    top: -20px;
  }
  .label-email {
    width: 82px;
    height: 31px;
    top: -16px;
  }
  .label-message {
    width: 110px;
    height: 30px;
    top: -15px;
  }
  .contact-form .contact-form-button {
    height: 55px;
    width: 136px;
  }
}

@media (max-width: 800px) {
  .small {
    font-size: 10px;
    line-height: 1.25;
  }
  .container {
    max-width: 730px;
  }
  .flx.flx-m-row {
    flex-direction: row;
  }
  .flx.flx-m.column {
    flex-direction: column;
  }
  .flx .flx-half {
    width: calc(50% - 24px);
  }
  .container.service-container {
    max-width: 600px;
  }

  .menu .title img {
    width: 100px;
    height: 100px;
  }
  .menu .menu-item {
    width: 75px;
    height: 25px;
  }

  .drop {
    margin: 12px;
  }
  .drop-title h3 {
    font-size: 1em;
  }

  .blob.services.blob-editing-services,
  .blob.services.blob-sound-services {
    margin: 4px 4px 4px 20px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }
  .extra-large {
    font-size: 18px;
  }
  .menu .menu-item {
    width: 64px;
    height: 21px;
  }
  .section .fp-overflow {
    box-shadow: 40vw 0 10vw -20vw #00bd64 inset,
      -40vw 0 10vw -20vw #00bd64 inset;
  }
  .section.section-about .fp-overflow {
    box-shadow: 40vw 0 10vw -20vw #00bd64 inset,
      -40vw 0 10vw -20vw #00bd64 inset, 0 20vw 10vw -10vw #00bd64 inset;
  }
  .section.section-contact .fp-overflow {
    box-shadow: 40vw 0 10vw -20vw #00bd64 inset,
      -40vw 0 10vw -20vw #00bd64 inset, 0 -20vw 10vw -10vw #00bd64 inset;
  }
  .bean {
    width: 175px;
    height: 206px;
  }
  .blob.blob-pres-bean {
    width: 145px;
    height: 85px;
    padding: 55px 5px 5px;
  }
  .blob.blob-animation-services {
    width: 132px;
    height: 113px;
    padding: 77px 10px 10px;
  }
  .blob.blob-writing-services {
    width: 126px;
    height: 122px;
    padding: 86px 10px 10px;
  }
  .blob.blob-production-services {
    width: 138px;
    height: 113px;
    padding: 80px 10px 10px;
  }
  .blob.blob-design-services {
    width: 72px;
    height: 75px;
    padding: 53px 5px 5px;
  }
  .blob.blob-storyboards-services {
    width: 78px;
    height: 67px;
    padding: 44px 5px 5px;
  }
  .blob.blob-music-services {
    width: 69px;
    height: 61px;
    padding: 37px 5px 10px;
  }
  .blob.blob-sound-services {
    width: 75px;
    height: 58px;
    padding: 33px 5px 10px;
  }
  .blob.blob-editing-services {
    width: 71px;
    height: 52px;
    padding: 28px 5px 5px;
  }
  .blob.blob-post-services {
    width: 86px;
    height: 73px;
    padding: 50px 2px 5px;
  }
}
