* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.15;
  font-size: 0.95vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  transition: 300ms;
}

.flx {
  display: flex;
  flex-wrap: wrap;
}
.flx.column {
  flex-direction: column;
}
.flx.around {
  justify-content: space-around;
}
.flx.center {
  justify-content: center;
  align-items: center;
}
.flx.align-bottom {
  align-items: flex-end;
  min-height: 100vh;
}
.flx .flx-half {
  width: 23vw;
  margin: 0.68vw 0;
}

.highlight {
  color: #016767;
}
.large {
  font-size: 1.15vw;
}
.extra-large {
  font-size: 1.56vw;
}
.small {
  font-size: 0.73vw;
}
.uppercase {
  text-transform: uppercase;
}
.text-hide {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.push-down {
  margin-bottom: 3vw;
}
.push-down.med-100 {
  margin-bottom: 0vw;
}

.fullpage-wrapper {
  overflow: hidden;
}
.bgv-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  width: 100vw;
  max-width: 52vw;
  margin: 0 auto;
  padding: 0 1.0416vw;
}
.container.service-container {
  max-width: 77vw;
}

.reel-wrapper {
  z-index: -1;
  inset: 0;
}
.reel-wrapper .reel {
  position: relative;
  display: block !important;
  width: 100%;
  top: auto;
  right: auto;
  object-fit: cover;
  object-position: center;
}

.bean {
  width: 15.63vw;
  height: 18.39vw;
}

.contact-title {
  background-image: url(/contact/contact-us.png);
  width: 19.53vw;
  height: 5.63vw;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 2.34vw;
}

.above {
  position: relative;
  z-index: 1;
}

@media (max-aspect-ratio: 8/5) {
  .container {
    max-width: 78vw;
  }
  .container.service-container {
    max-width: 51vw;
  }
  .med-100 {
    width: 100%;
  }
  .m-or0 {
    order: 0;
  }
  .m-or1 {
    order: 1;
  }
  .m-or2 {
    order: 2;
  }
  .m-or3 {
    order: 3;
  }
  .push-down.med-100,
  .push-down {
    margin-bottom: 3vw;
  }
  .flx .flx-half {
    width: 35vw;
    margin: 1.15vw 0;
  }
}

@media (max-aspect-ratio: 7/5) {
  html,
  body {
    font-size: 1.2vw;
  }
  .large {
    font-size: 1.65vw;
  }
  .extra-large {
    font-size: 2vw;
  }
  .small {
    font-size: 1.25vw;
  }
  .container.service-container {
    max-width: 59vw;
  }
  .bean {
    width: 19.5375vw;
    height: 22.9875vw;
  }
  .contact-title {
    width: 24.41vw;
    height: 7.04vw;
    margin-bottom: 3.5vw;
  }
}

@media (max-aspect-ratio: 5.5/5) {
  html,
  body {
    font-size: 1.45vw;
  }
  .large {
    font-size: 2vw;
  }
  .extra-large {
    font-size: 2.4vw;
  }
  .small {
    font-size: 1.5vw;
  }
  .bean {
    width: 24.421875vw;
    height: 28.734375vw;
  }
  .flx.m-row {
    flex-direction: row;
  }
  .contact-title {
    width: 29.29vw;
    height: 8.45vw;
    margin-bottom: 5vw;
  }
}

@media (max-aspect-ratio: 5/5.5) {
  html,
  body {
    font-size: 1.8vw;
  }
  .large {
    font-size: 2.35vw;
  }
  .extra-large {
    font-size: 2.75vw;
  }
  .small {
    font-size: 1.38vw;
  }
  .container.service-container {
    max-width: 75vw;
  }
  .bgv-wrapper {
    bottom: auto;
  }
  .flx .flx-half {
    width: 48vw;
  }
  .bean {
    width: 30.53vw;
    height: 35.92vw;
  }
}

@media (max-aspect-ratio: 5/7) {
  html,
  body {
    font-size: 2.45vw;
  }
  .large {
    font-size: 3vw;
  }
  .extra-large {
    font-size: 3.25vw;
  }
  .small {
    font-size: 1.9vw;
  }
  .container {
    max-width: 80vw;
  }
  .container.service-container {
    max-width: 92vw;
  }
  .flx .flx-half {
    width: 60vw;
    margin: 2vw 0;
  }
  .bean {
    width: 39.68vw;
    height: 46.6vw;
  }
  .contact-title {
    width: 39.61vw;
    height: 11.42vw;
    margin-bottom: 6.75vw;
  }
}

@media (max-aspect-ratio: 5/9) {
  .contact-title {
    width: 49.51vw;
    height: 14.28vw;
    margin-bottom: 9vw;
  }
  .flx .flx-half {
    width: 100%;
    margin: 3vw 0;
  }
}

@media (max-aspect-ratio: 5/11) {
  .container {
    max-width: 90vw;
  }
  .contact-title {
    width: 66.94vw;
    height: 19.31vw;
    margin-bottom: 12.15vw;
  }
}
