.drop {
  display: block;
  position: relative;
  border-radius: 3.125vw;
  overflow: hidden;
}

.drop .drop-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(6, 57, 49, 0.8);
  color: #fff;
  text-decoration: none;
  padding: 1.56vw;
}
.drop:hover .drop-content {
  opacity: 1;
}
.drop-image img {
  display: block;
  width: 100%;
  height: auto;
}
.drop-title h3 {
  font-size: 2vw;
  letter-spacing: 0.16vw;
  font-weight: lighter;
}
.drop-body {
  font-size: 0.75vw;
}

@media (max-aspect-ratio: 8/5) {
  .drop-title h3 {
    font-size: 2.75vw;
  }
  .drop-body {
    font-size: 1vw;
  }
}
@media (max-aspect-ratio: 5/5.5) {
  .drop-title h3 {
    font-size: 3vw;
  }
  .drop-body {
    font-size: 1.75vw;
  }
}
@media (max-aspect-ratio: 5/7) {
  .drop-title h3 {
    font-size: 5vw;
  }
  .drop-body {
    font-size: 2vw;
    line-height: 1.35;
  }
}
@media (max-aspect-ratio: 5/9) {
  .drop-title h3 {
    font-size: 6vw;
  }
  .drop-body {
    font-size: 2.7vw;
  }
}
@media (max-aspect-ratio: 5/11) {
  .drop-title h3 {
    font-size: 5vw;
  }
  .drop-body {
    font-size: 2.15vw;
  }
}
